
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;

}

.form-card {
    width: 300px;
    height: 300px;
    background: #fff;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px;
    margin-top: 10px;
}

.title-login{
    margin-left: 115px;
}

.input-field{
    margin-top: 10px;
    margin-left: 15px;

}

.field{
    margin-top: 50px;
}
.box-btn{
    margin-top: 20px;
    margin-left: 95px;
}

.container1{
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items:center;

}

.linhadecima{
    background-color: #FF6666;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fundo{
    margin: 0px;
    background-color: #FFD68B;
}

.btn-login{
    border-radius: 15px;
    background-color: #FFD68B;
}

.sub{
    margin: 2px;
    margin-left: 10px;
    margin-top: 4px;
}
.text{
    align-items: center;
    display:flex;
    justify-content: center;
    margin-top: auto;
    position: relative;
    top:100px;
    left: 10px;
}
