<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual de Usuário - Booknnection</title>
    <link rel="stylesheet" href="../public/estilos_css/manual.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <aside class="menu">
            <ul>
                <li>
                    <button class="menu-button" onclick="toggleMenu('intro')">
                        <span class="material-icons">info</span> Introdução
                    </button>
                    <ul class="submenu" id="intro">
                        <li><a href="#intro-bem-vindo" onclick="scrollToTopic(event, 'intro-bem-vindo')"><span class="material-icons">home</span> Bem-vindo ao Booknnection</a></li>
                        <li><a href="#intro-objetivo" onclick="scrollToTopic(event, 'intro-objetivo')"><span class="material-icons">assignment</span> Objetivo do Sistema</a></li>
                        <li><a href="#intro-pub-alvo" onclick="scrollToTopic(event, 'intro-pub-alvo')"><span class="material-icons">people</span> Público-Alvo</a></li>
                        <li><a href="#intro-contatos-suporte" onclick="scrollToTopic(event, 'intro-contatos-suporte')"><span class="material-icons">support_agent</span> Contatos de Suporte</a></li>
                    </ul>
                </li>
                <li>
                    <button class="menu-button" onclick="toggleMenu('interface')">
                        <span class="material-icons">dashboard</span> Sobre a Interface
                    </button>
                    <ul class="submenu" id="interface">
                        <li><a href="#interface-menu-principal" onclick="scrollToTopic(event, 'interface-menu-principal')"><span class="material-icons">menu</span> Menu Principal</a></li>
                        <li><a href="#interface-feed-postagens" onclick="scrollToTopic(event, 'interface-feed-postagens')"><span class="material-icons">rss_feed</span> Feed de Postagens</a></li>
                        <li><a href="#interface-topicos-populares" onclick="scrollToTopic(event, 'interface-topicos-populares')"><span class="material-icons">trending_up</span> Tópicos Populares</a></li>
                        <li><a href="#interface-pagina-perfil" onclick="scrollToTopic(event, 'interface-pagina-perfil')"><span class="material-icons">person</span> Página de Perfil</a></li>
                        <li><a href="#interface-lista-livros-funcionalidades" onclick="scrollToTopic(event, 'interface-lista-livros-funcionalidades')"><span class="material-icons">library_books</span> Funcionalidades da Lista de Livros</a></li>
                        <li><a href="#interface-posts-trocados" onclick="scrollToTopic(event, 'interface-posts-trocados')"><span class="material-icons">swap_horiz</span> Posts Trocados</a></li>
                        <li><a href="#interface-configuracoes-usuario" onclick="scrollToTopic(event, 'interface-configuracoes-usuario')"><span class="material-icons">settings</span> Configurações do Usuário</a></li>
                    </ul>
                </li>
                <li>
                    <button class="menu-button" onclick="toggleMenu('projeto')">
                        <span class="material-icons">engineering</span> Projeto
                    </button>
                    <ul class="submenu" id="projeto">
                        <li><a href="#projeto-visao-geral" onclick="scrollToTopic(event, 'projeto-visao-geral')"><span class="material-icons">visibility</span> Visão Geral</a></li>
                        <li><a href="#projeto-funcionalidades" onclick="scrollToTopic(event, 'projeto-funcionalidades')"><span class="material-icons">apps</span> Funcionalidades</a></li>
                        <li><a href="#projeto-seguranca" onclick="scrollToTopic(event, 'projeto-seguranca')"><span class="material-icons">security</span> Segurança</a></li>
                    </ul>
                </li>
                <li>
                    <button class="menu-button" onclick="toggleMenu('cadastro')">
                        <span class="material-icons">person_add</span> Cadastro
                    </button>
                    <ul class="submenu" id="cadastro">
                        <li><a href="#cadastro-processo" onclick="scrollToTopic(event, 'cadastro-processo')"><span class="material-icons">how_to_reg</span> Processo de Cadastro</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div class="content-wrapper">
            <header id="header">
                <h1>Manual de Usuário - Booknnection</h1>
                <input type="text" id="searchInput" placeholder="Pesquisar...">
            </header>
            <section class="content">
                <!-- Artigos introdução -->
                <article id="intro-bem-vindo" class="intro">
                    <h2><span class="material-icons">home</span> Bem-vindo ao Booknnection</h2>
                    <p>O <strong>Booknnection</strong> é uma plataforma inovadora que conecta leitores, permitindo a troca de livros, a criação de postagens e interações sociais em uma comunidade literária. O sistema oferece opções de pesquisa personalizadas para facilitar o compartilhamento de experiências literárias e o acesso a novas leituras. Com páginas de fácil entendimento e recursos de navegação simplificados, o Booknnection foi projetado para transformar a forma como nos conectamos com livros e leitores.</p>
                    <img src="../public/imagens/img_manual/Booknnection - Login_Cadastro - Opera 2024-11-27 18-04-26.gif" alt="GIF do login e cadastro" width="auto" height="600">
                </article>

                <article id="intro-objetivo" class="intro">
                    <h2><span class="material-icons">assignment</span> Objetivo do Sistema</h2>
                    <p>O principal objetivo do Booknnection é criar um ambiente onde leitores possam compartilhar, trocar e explorar novos livros de forma colaborativa e acessível. Além de facilitar o acesso a conteúdos literários, o sistema promove a sustentabilidade através da reutilização de livros, incentivando o compartilhamento e a economia circular. Com funcionalidades como filtros por gênero literário, o Booknnection oferece uma boa experiência para cada usuário.</p>
                </article>

                <article id="intro-pub-alvo" class="intro">
                    <h2><span class="material-icons">people</span> Público-Alvo</h2>
                    <p>O Booknnection é direcionado a leitores de todas as idades, desde estudantes que desejam expandir seu conhecimento até colecionadores que buscam obras raras. A interface foi projetada para garantir a facilidade de uso, atendendo tanto usuários iniciantes quanto experientes em tecnologia.</p>
                </article>

                <article id="intro-contatos-suporte" class="intro">
                    <h2><span class="material-icons">support_agent</span> Contatos de Suporte</h2>
                    <p>Caso encontre dificuldades, nossa equipe de suporte está disponível para ajudar. Envie suas dúvidas, sugestões ou relatórios de erros para o e-mail: <a href="mailto:suporte@booknnection.com">suporte@booknnection.com</a>, além disso, nos acompanhe nas redes sociais: <a href="https://www.facebook.com/booknnection">Facebook</a>, <a href="https://www.instagram.com/booknnection">Instagram</a></p>
                </article>

                <!-- Artigos interface -->

                <article id="interface-menu-principal" class="interface">
                    <h2><span class="material-icons">menu</span> Menu Principal</h2>
                    <p>O Menu Principal é o ponto central para a navegação no sistema, acessível a partir de qualquer página. Ele inclui opções como "Para Você", "Página de Perfil", "Home" (página inicial do sistema), "Configurações" e "Logout" (opção para sair da sua conta). O menu foi projetado para facilitar o acesso a todas as funcionalidades do sistema, permitindo que você encontre rapidamente o que precisa com apenas alguns cliques.</p>
                </article>

                <article id="interface-feed-postagens" class="interface">
                    <h2><span class="material-icons">rss_feed</span> Feed de Postagens</h2>
                    <img src="../public/imagens/img_manual/feed principal.png" alt="Imagem do feed de postagens" width="auto" height="600" />
                    <p>O Feed de Postagens apresenta conteúdos compartilhados por outros usuários em um formato visual limpo e organizado. Nele, é possível interagir com as postagens de diversas maneiras, como curtindo, comentando e salvando livros que despertarem seu interesse. O feed é atualizado dinamicamente e pode ser filtrado com base em interesses específicos, como gênero literário.
                        <br>
                        Cada postagem inclui:
                        <br>
                        <ul>
                            <li>Imagem do Livro: A capa do livro para facilitar a identificação.</li>
                            <br>
                            <li>Botão Curtir: Permite adicionar um "like" ao post, indicando que você gostou.</li>
                            <img src="../public/imagens/img_manual/botao-curti.png" alt="Imagem de curtir" style="max-width: 40%;" />
                            <li>Botão Enviar Solicitação: Envia um pedido para trocar livros com o dono da postagem.</li>
                            <img src="../public/imagens/img_manual/enviar solici botao.png" alt="Imagem de trocar livro" style="max-width: 40%;" />
                            <li>Botão Salvar: Adiciona a postagem à sua lista de posts salvos, acessível na página de perfil.</li>
                            <img src="../public/imagens/img_manual/salvar botao.png" alt="Imagem de salvar" style="max-width: 40%;" />
                            <li>Botão Ver Comentários: Redireciona para a página de comentários do post.</li>
                            <img src="../public/imagens/img_manual/ver comentario botao.png" alt="Imagem de ver comentários" style="max-width: 40%;" />
                        </ul>
                        <br>
                        Ao clicar em "Enviar Solicitação", uma aba será exibida com a opção de confirmar a troca. Nesse processo, o sistema realiza uma requisição para verificar se o outro usuário está interessado na troca. Depois de enviar uma solicitação, um campo à direita da tela exibirá o pedido. Ao clicar nele, você será redirecionado para a página de troca. Nessa página, é possível:
                        <br>
                        <ol>
                            <li>Escolher um livro de oferta no campo exibido abaixo da imagem.</li>
                            <li>Entrar em contato com o outro usuário via WhatsApp, facilitando a comunicação e agilizando o processo.</li>
                        </ol>
                        <img src="../public/imagens/img_manual/solicitaçao.png" alt="Imagem de contato" width="auto" height="600"/>
                        <br>
                        A funcionalidade de "Ver Comentários" redireciona para a página específica do post, onde é possível interagir com outros usuários. Para comentar, clique no botão "Adicionar Comentário", digite sua mensagem no campo exibido e confirme ao pressionar o botão "Comentar".
                    </p>
                    <img src="../public/imagens/img_manual/Comentarios gif.gif" alt="Imagem do feed de postagens" width="auto" height="600" />
                </article>

                <article id="interface-topicos-populares" class="interface">
                    <h2><span class="material-icons">trending_up</span> Tópicos Populares</h2>
                    <p>A seção Tópicos Populares exibe os gêneros de livros mais procurados e trocados no sistema.</p>
                    <img src="../public/imagens/img_manual/topicos.png" alt="Imagem dos tópicos populares" />
                </article>

                <article id="interface-pagina-perfil" class="interface">
                    <h2><span class="material-icons">person</span> Página de Perfil</h2>
                    <p>Na Página de Perfil, o usuário pode visualizar e gerenciar suas listas de livros cadastrados e posts salvos. A interface intuitiva permite:</p>
                    <br>
                    <ul>
                        <li>Visualização de livros: visualize todas as suas listas de livros cadastrados.</li>
                        <li>Gerenciamento de Atividades: controle a criação de posts e os seus posts salvos.</li>
                    </ul>
                    <br>
                    A seção de feed no perfil exibe todas as postagens criadas pelo usuário que ainda estão ativas.
                    <img src="../public/imagens/img_manual/perfil.png" alt="Imagem da página de perfil" />
                </article>

                <article id="interface-lista-livros-funcionalidades" class="interface">
                    <h2><span class="material-icons">library_books</span> Funcionalidades da Lista de Livros</h2>
                    <p>A Lista de Livros oferece uma maneira eficiente de gerenciar sua coleção literária pessoal. As principais funcionalidades incluem:
                        <br>
                        <ul>
                            <li>Adicionar novos títulos por meio de busca por ISBN ou manualmente.</li>
                            <li>Remover livros que não são mais necessários.</li>
                        </ul>
                        <img src="../public/imagens/img_manual/lista livros.gif" alt="Imagem da lista de livros" width="auto" height="600" />
                        Essa funcionalidade garante uma organização clara e prática para o usuário.
                        <br>
                         No campo Posts Salvos, são exibidas todas as postagens que o usuário decidiu guardar para possíveis trocas futuras.
                    </p>
                </article>

                <article id="interface-posts-trocados" class="interface">
                    <h2><span class="material-icons">swap_horiz</span> Posts Trocados</h2>
                    <p>O campo Posts Trocados apresenta um histórico detalhado das trocas realizadas com outros usuários. Essa funcionalidade facilita o acompanhamento das interações anteriores.</p>
                    <img src="../public/imagens/img_manual/post trocados.png" alt="Imagem dos posts trocados" />
                </article>

                <article id="interface-configuracoes-usuario" class="interface">
                    <h2><span class="material-icons">settings</span> Configurações do Usuário</h2>
                    <p>A seção de Configurações foi projetada para permitir ajustes rápidos e seguros. As funcionalidades incluem:</p>
                    <br>
                    <ul>
                        <li>Alteração da foto de perfil: após selecionar uma foto no botão "escolher arquivo", o usuário pode clicar em "alterar foto" para ter sua foto de perfil atualizada.</li>
                        <img src="../public/imagens/img_manual/alterar foto.png" alt="Imagem da foto de perfil" width="auto" height="600" />
                        <li>Redefinição de senha: permite que o usuário defina uma nova senha segura para sua conta. Após clicar em "trocar senha", a senha é substituída e o usuário precisa entrar novamente com a nova senha.</li>
                        <img src="../public/imagens/img_manual/trocar senha.png" alt="Imagem da redefinição de senha" width="auto" height="600" />
                        <li>Desativação de conta: permite que o usuário desative sua conta, removendo-o permanentemente do sistema. Uma mensagem de aviso irá aparecer avisando que essa ação irá deletar todas as informações do usuário permanentemente.</li>
                        <img src="../public/imagens/img_manual/desativar conta.png" alt="Imagem da desativação de conta" width="auto" height="600" />
                    </ul>
                    <img src="../public/imagens/img_manual/config.gif" alt="Imagem das configurações do usuário" />
                </article>

                <!-- Artigos projeto -->

                <article id="projeto-visao-geral" class="projeto">
                    <h2><span class="material-icons">visibility</span> Visão Geral</h2>
                    <p>O Booknnection tem o objetivo de tornar a leitura mais acessível. Utiliza uma estrutura de fácil navegação para todos os usuários.</p>
                </article>

                <article id="projeto-funcionalidades" class="projeto">
                    <h2><span class="material-icons">apps</span> Funcionalidades</h2>
                    <p>Neste tópico será apresentado as funcionalidades relacionadas à adição de livros, troca de livros e criação de posts.</p>

                    <h2><span class="material-icons">add_box</span> Adição de Livros</h2>
                    <p>Para adicionar um livro na sua conta, você deve clicar no botão "adicionar livro" no campo à esquerda da tela Inicial ou do seu perfil.
                        <br>
                        Após preencher os campos de informações do livro, clique em adicionar.
                    </p>
                    <img src="../public/imagens/img_manual/adicionar livro.gif" alt="Imagem de funcionalidades" />
                    <h2><span class="material-icons">swap_horiz</span> Troca de Livros</h2>

                    <p>Para trocar um livro, basta clicar no botão "trocar livro" na parte inferior de um post na tela Inicial. Ao clicar em "trocar livro", um campo com opções de enviar um pedido de troca irá aparecer, permitindo que você possa enviar um pedido de troca para o autor do post. Em seguida, o pedido ficará em espera do autor para que ele aceite ou recuse o pedido.
                        <img src="../public/imagens/img_manual/trocar livro.gif" alt="Imagem de funcionalidades" />
                    </p>

                    <h2><span class="material-icons">create</span> Criação de Posts</h2>
                    <p>
                        No processo de criação de um post, basta clicar na imagem do livro na aba de lista de livros do seu perfil, em seguida preencher o campo de descrição e clicar em criar post.
                    </p>
                    <img src="../public/imagens/img_manual/criar post.gif" alt="Imagem de funcionalidades" />

                </article>

                <article id="projeto-seguranca" class="projeto">
                    <h2><span class="material-icons">security</span> Segurança</h2>
                    <p>O Booknnection adota práticas de segurança como criptografia de dados, autenticação de usuários na hora da criação de sua conta e no seu login, assim mantendo a privacidade dos usuários.</p>
                    <img src="../public/imagens/img_manual/Cadastro.png" alt="Imagem de segurança" />
                </article>

                <!-- Artigo Cadastro -->

                <article id="cadastro-processo" class="cadastro">
                    <h2><span class="material-icons">how_to_reg</span> Processo de Cadastro</h2>
                    <p>Após o usuário acessar a página de login/cadastro pela página inicial do sistema, ele será redirecionado para um campo de login. Caso ele não tenha uma conta, ele pode clicar em "não possui conta" e preencher os campos para realizar o cadastro da sua conta. Após isso, ele estará pronto para usar a plataforma.</p>
                    <img src="../public/imagens/img_manual/cadastro-gif.gif" alt="Imagem de cadastro" width="auto" height="600" />
                </article>

            </section>
        </div>
    </main>
    <button id="scrollToTopBtn" title="Voltar ao topo">
        <span class="material-icons">arrow_upward</span>
    </button>
    <div id="imagePopup" class="image-popup">
        <span class="close-btn">&times;</span>
        <div class="popup-container">
            <img id="popupImage" class="popup-image" src="" alt="">
        </div>
    </div>
    <script src="../public/manual.js"></script>
</body>
</html>
