<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booknnection - Home</title>
    <link rel="stylesheet" href="../public/estilos_css/home.css">
</head>
<body>

    <!-- Navbar -->
    <header class="navbar">
        <div class="header-content">
            <h1>
                <a href="pagina_home.html" class="title-link">Booknnection</a>
            </h1>
            <nav>
                <ul class="nav-list">
                    <li><a href="pagina_login.php">Login</a></li>
                    <li><a href="pagina_login.php#showcadasdro">Cadastro</a></li>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Conteúdo Principal -->
    <div class="main-container">
        <section class="hero">
            <h2>Bem-vindo à Booknnection!</h2>
            <p>Conecte-se com leitores e troque livros facilmente.</p>
            <div class="button-group">
                <a href="pagina_login.php" class="btn">Login</a>
                <a href="login.html#showCadastro" class="btn">Cadastro</a>
            </div>
        </section>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Booknnection</p>
    </footer>

</body>
</html>
<script type="module">
    import Typebot from 'https://cdn.jsdelivr.net/npm/@typebot.io/js@0.3.12/dist/web.js'
  
    Typebot.initBubble({
      typebot: "suporte-ao-cliente-squxxd3",
      apiHost: "http://34.132.245.158:8080",
      previewMessage: { message: "Está precisando de ajuda?", autoShowDelay: 5000 },
      theme: {
        button: { backgroundColor: "#0042DA" },
        chatWindow: { backgroundColor: "#fff" },
      },
    });
  </script>
