body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.menu {
    background-color: #f1f1f1;
    width: 250px;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .menu-button {
    background: none;
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.menu .menu-button .material-icons {
    margin-right: 10px;
}

.menu .menu-button:hover {
    background-color: #d0d0d0;
}

.menu .submenu {
    display: none;
    list-style: none;
    margin-left: 15px;
}

.menu .submenu a {
    text-decoration: none;
    color: #0077b6;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.menu .submenu a .material-icons {
    margin-right: 10px;
}

.menu .submenu a:hover {
    color: #005f8e;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    width: calc(100% - 250px);
    padding-left: 20px;
}

header {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header #searchInput {
    margin-top: 10px;
    padding: 5px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: normal;
    max-width: 70%;
    margin: auto;
    line-height: 1.6;
}

.content article {
    display: none;
}

.content article.intro {
    display: block;
}

article {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h2 {
    margin-top: 0;
    color: #0077b6;
    display: flex;
    align-items: center;
}

article h2 .material-icons {
    margin-right: 10px;
}

article img {
    display: block;
    margin: 10px auto;
    max-width: 900px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

/* Estilos para o pop-up */
.image-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.image-popup .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1001;
}

.image-popup .close-btn:hover,
.image-popup .close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.image-popup .popup-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-popup .popup-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    cursor: grab;
    transition: transform 0.1s ease-in-out;
}

.image-popup .popup-image.zoomed {
    cursor: grabbing;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin: 0;
    padding: 0;
    margin-right: 70px;
}
