body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
}

.navbar {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.card-footer {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.rounded-circle {
    max-width: 100px;
    border: 3px solid #007bff;
}

.sidebar {
    display: block;
    padding: 20px;
    background-color: none;
    height: 100%;
}

.sidebar.hidden {
    display: none;
}

.col-left,
.col-right {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-middle {
    flex: 0 0 50%;
    max-width: 50%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    border-radius: 4px 0 0 4px;
}

.input-group button {
    border-radius: 0 4px 4px 0;
}

.list-unstyled a:hover {
    text-decoration: underline;
}

/* Estilo para o pop-up de adicionar livro */
.popup-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.popup-container.open-popup {
    display: flex;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para os campos de entrada e select */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container select {
    padding: 10px 15px;
    text-align: left;
    line-height: normal;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilos para o botão de envio */
.form-container button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Adiciona espaço entre os botões */
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
    background-color: #2980b9;
}

/* Estilos para a animação de deslocamento do texto */
.floating-label {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.floating-label label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.floating-label input {
    padding: 20px 10px 10px 10px;
    font-size: 16px;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -17px;
    left: 10px;
    font-size: 12px;
    color: #3498db;
}

/* Estilo para o container da imagem */
.popup-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/* Estilo para a imagem do livro */
.popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animação de deslizamento para cima */
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para o card-header com toggle */
.toggle-header {
    cursor: pointer;
    user-select: none;
}

.toggle-header:hover {
    text-decoration: none;
}

/* Estilo para remover a linha debaixo dos títulos dos cards */
.card-title-no-underline {
    border-bottom: none;
    text-decoration: none;
}

/* Classe para ocultar elementos */
.hidden {
    display: none;
}

/* Estilo para remover a estética azul dos links */
.post-link {
    text-decoration: none;
    color: inherit;
}

.post-link:hover {
    text-decoration: none;
    color: inherit;
}

/* Centralizar a imagem no post */
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    object-fit: cover;
}

/* Estilos para o pop-up de notificação */
#notification-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

#notification-popup .popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#notification-popup .popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#notification-popup .popup-close:hover,
#notification-popup .popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#notification-popup .post-info {
    text-align: center;
}

#notification-popup .post-image {
    width: 100%;
    height: auto;
}

#notification-popup .sender-name {
    font-weight: bold;
}

/* Estilos para o pop-up de enviar solicitação */
#send-request-popup .popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#send-request-popup .post-info {
    text-align: center;
}

#send-request-popup .post-info img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#send-request-popup .post-info h1 {
    margin: 10px 0;
}

#send-request-popup .green-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#send-request-popup .green-button:hover {
    background-color: #45a049;
}

/* Estilos para o pop-up de pesquisar por ISBN */
#isbn-search-popup .popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#isbn-search-popup .popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#isbn-search-popup .popup-close:hover,
#isbn-search-popup .popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#isbn-search-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#isbn-search-popup label {
    margin-bottom: 10px;
}

#isbn-search-popup input[type="text"] {
    padding: 10px 15px;
    text-align: left;
    line-height: normal;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
}

#isbn-search-popup button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#isbn-search-popup button[type="submit"]:hover {
    background-color: #2980b9;
}


