/* style_pagina_principal.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden; /* Evita scroll horizontal */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content.is-transitioned {
    animation: fade-in 1.5s forwards;
    opacity: 0;
    transform: translateY(50vh);
    width: 100%; /* Garante que o conteúdo não exceda a largura da viewport */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    overflow-x: hidden;
    box-sizing: border-box;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-icon {
    display: flex;
    align-items: center;
    margin-left: -40%; /* Ajusta a distância do ícone em relação à barra de pesquisa */
}

.profile-icon a {
    display: flex;
    align-items: center;
}

.profile-icon img {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px;
    border-radius: 50%; /* Faz com que a imagem fique circular */
    cursor: pointer;
}

.profile-icon img:hover {
    opacity: 0.8; /* Efeito de hover opcional */
}


.title-link {
    text-decoration: none; /* Remove o sublinhado */
    color: white;          /* Cor do texto */
    display: block;        /* Ocupa todo o espaço disponível de h1 */
    font-size: inherit;    /* Herda o tamanho da fonte de h1 */
    font-weight: inherit;  /* Herda a espessura da fonte de h1 */
}

/* Adicionando hover para indicar interatividade */
.title-link:hover {
    cursor: pointer;            /* Muda o cursor para indicar clicabilidade */
}

header.is-transitioned,
footer.is-transitioned {
    animation: fade-in-only 2s forwards;
    opacity: 0;
}

@keyframes fade-in-only {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o header fique acima de todo o conteúdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra para melhorar a separação visual */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content h1 {
    margin: 0;
}

.search-form {
    display: flex;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
}

.search-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #2980b9;
}

.main-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    margin-top: 80px; /* Espaço suficiente para o header fixo */
    overflow-y: hidden; /* Evita scroll horizontal */
    box-sizing: border-box;
}

.sidebar-left, .sidebar-right {
    flex: 1;
    margin: 0 10px;
}

.sidebar-left {
    background-color: #d9dedf;
    padding: 20px;
    border-radius: 8px;
}

.sidebar-right {
    background-color: #d9dedf;
    padding: 20px;
    border-radius: 8px;
}

.sidebar-section h2 {
    margin-top: 0;
}

.sidebar-section ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-section ul li {
    margin-bottom: 10px;
}

.sidebar-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sidebar-section ul li a:hover {
    text-decoration: underline;
}

.sidebar-button {
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

.sidebar-button:hover {
    background-color: #2c3e50;
}


.feed {
    flex: 2;
    margin: 0 10px;
}

.post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o footer fique acima de todo o conteúdo */
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar-left, .sidebar-right {
        margin: 10px 0;
    }

    .sidebar-button {
        font-size: 14px;
    }

    .search-form input[type="text"], .search-form button {
        font-size: 14px;
    }
}
